html 
{
    background: #141D22;
    color: white;
    font-family: monospace;
    font-size: large;
}

body 
{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
}

p 
{
    font-size: x-large;
    font-weight: bolder;
}

.link
{
    display: block;
    padding: 10px;
    background: #2D2D2D;
    border-radius: 5px;
    margin-bottom: 5px;
    color: #61b3df;
}

.link:visited
{
    color: #8497a2;
}

.logo
{
    width: 225px;
    height: auto;
}

.line
{
    border: 1px solid;
    width: 90%;
    margin-bottom: 40px;
}

.binder
{
    background-color: #213D4C;
    width: 60%;
    border-radius: 10px;
    font-size: x-large;
    padding-bottom: 10px;
}

.binder-link {
    display: block;
    padding: 10px;
    padding-top: 13px;
    background: #2D2D2D;
    border-radius: 5px;
    width: fit-content;
    margin: auto; /* Zentrieren Sie das Element horizontal */
    text-align: center; /* Zentrieren Sie den Text vertikal */
    scale: 120%;
}

.icon
{
    display: inline;
}

.container 
{
    background: #213D4C;
    width: 550px;
    border-radius: 10px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container:last-child 
{
    margin-bottom: 50px; 
}

.akkordeon 
{
    font-size: 20px;
    font-weight: bolder;
    padding-top: 20px;
    padding-bottom: 20px;
}

.akkordeon-content 
{
    display: none;
    margin-top: 10px;
    padding-bottom: 20px;
}

.akkordeon-content.active 
{
    display: block;
}

.description
{
    width: 60%;
    background-color: #2d2d2dde;
    border-radius: 10px;
    box-shadow: 0px 0px 40px 1px #213d4c;
    margin-bottom: 40px;
    padding: 20px;
}
